@media (max-width: 1200px) {
    .hero-title {
        font-size: 68px;
    }
}
@media (max-width: 920px) {
    .footer-row{
        flex-direction: column-reverse;
    }
    .footer-nav-wrapper {
        margin-bottom: 80px;
    }
}
@media (max-width: 800px) {
    .nav, .account {
        display: none;
    }
    .nav-button {
        display: block;
    }
    .mobile-nav-active {
        display: flex;
    }
    .hero-title {
        font-size: 48px;
    }
    .hero-tagline::before {
        width: 42px;
    }
    .hero-tagline {
        font-size: 14px;
        padding-left: 62px;
    }
}

@media (max-width: 560px) {
    .footer-nav-wrapper {
        flex-direction: column;
    }
    .footer-nav +.footer-nav {
        margin-top: 60px;
        margin-left: auto;
    }
    
}