@media (max-width: 1200px) {
    .hero-title {
        font-size: 68px;
    }
    .wrapper {
        min-height: 20%;
    }
}
@media (max-width: 920px) {
    .wrapper {
        min-height: 50%;
    }
}
@media (max-width: 800px) {
    .hero-title {
        font-size: 48px;
    }
    .hero-tagline::before {
        width: 42px;
    }
    .hero-tagline {
        font-size: 14px;
        padding-left: 62px;
    }
}

@media (max-width: 560px) {
    .wrapper {
        min-height: 60%;
    }
}