.weather-app {
  color: #fff;
  text-shadow: 1px 1px 2px black;
  position: relative;
  transition: 500ms;
  opacity: 1;
}
.container > div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.city-time,
.temp,
.weather {
  margin: 0 1em;
}

.temp {
  font-size: 3em;
  margin: 0;
}
.weather img {
  display: block;
  margin: 0.5em 0;
}
.text {
  font-size: 1em;
  margin: 0;
  margin-bottom: 0.2em;
}
.more-about-weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
}