.weather-app {
  color: #fff;
  text-shadow: 1px 1px 2px black;
  position: relative;
  transition: 500ms;
  opacity: 1;
}
.container > div {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-left: 50px;
  align-items: center;
}
.city-time,
.temp,
.weather {
  margin: 0 1em;
}

.temp {
  font-size: 3em;
  margin: 0;
}
.weather img {
  display: block;
  margin: 0.5em 0;
}
.text {
  font-size: 1em;
  margin: 0;
  margin-bottom: 0.2em;
}
.more-about-weather {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.find-city {
  display: flex;
  flex-direction: row;
}
.search {
  padding: .5em;
  margin: 0;
  border: none;
  outline: none;
  background: #ffffff55;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  transition: .4s;
}
.search:hover {
  background: rgba(255, 255, 255, 0.882);
  color: #111;
}
.location {
  background: none;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0 1em .5em 0;
  width: 80%;
  color: #fff;
  font-size: 1.1em;
}
.location:focus {
  outline: none;
}
.location::placeholder {
  color: #fff;
}